body {
  /*burası animasyonlu arka planının etiketleri */ 
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #655dd4, #99dae2,#df97db,#92bdbe,#bda3c2,#655dd4);
  background-size: 500% 500%;
  animation: animeBG 13s ease infinite;
  animation-direction: alternate; 
}
@keyframes animeBG{
    0% {background-position: 0%}
    100% {background-position: 100%}
}
/*buraya kadar */  

#baslik{
  text-align: center;
  color: #464099;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#baslikalti{
  text-align: center;
 
  color: #464099;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 100px;
}
#cizgi1{
  color: #655dd4;
  text-align: center;
  margin-right: 8%;
  margin-left: 8%;
}

#p1,#p2,#p3{
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#kolye1{
  text-align: center;
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#yazirengi{
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#kupe1{
  text-align: center;
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#yuzuk1{
  text-align: center;
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#bileklik1{
  text-align: center;
  color: #464099;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
img {
  border-radius: 5%; 
  border: solid 2px #464099;
  width: 48vh
}